html, body{
    margin: 0;
    padding: 0;
}

html{
    width: 400px;
    max-height: 500px;
    background-color: #000;
    color: #1afa29;
}

#container .container-title{
    position: relative;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

#container .container-title::after{
    content: '';
    position: relative;
    left: 2px;
    display: inline-block;
    width: 8px;
    height: 3px;
    animation: 1s shadowShow infinite;
    background-color: #000;
}

@keyframes shadowShow{
    0% { background-color: #1afa29; }
    50% { background-color: #1afa29; }
    51% { background-color: #000; }
    100% { background-color: #000; }
}

#container .container-body {
    padding: 0;
    padding: 0 20px;
    list-style: none;
}

#container .container-body li {
    position: relative;
    font-size: 18px;
    padding: 4px 2px;
    border: 2px dashed #1afa29;
}

#container .container-body li div {
    word-break: break-all;
    outline: none;
}

#container .container-body li:hover .delete-button {
    display: block;
    cursor: pointer;
}

#container .container-body li:not(:first-of-type) {
    margin-top: 10px;
}

#container .container-body li .delete-button {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    background-image: url("../images/app/close.png");
    background-color: #1afa29;
    background-size: 100% 100%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#container .empty-data {
    padding: 0;
    height: 150px;
    background-image: url("../images/app/empty-data.png");
    background-position: center 0px;
    background-size: 110px;
    background-repeat: no-repeat;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.add-todolist{
    background-color: #000;
    color: #1afa29;
    border-radius: 5px;
    border: 2px solid #1afa29;
    padding: 6px 0 2px 0;
    font-size: 16px;
    outline: none;
}

.add-todolist:hover{
    background-color: #1afa29;
    color: #000;
    cursor: pointer;
}